@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d5d5d5;
}

#column-2 {
  background: #6666ff;
}

#column-3 {
  background: #00cc66;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:#ffff00 ;
  }

  #column-1 {
    background-color:#00cc99 ;
  }

  #column-2 {
    background-color: #993366;
  }

  #column-3 {
    background-color: #ff9999;
  }

  footer {
    background-color:#ff33cc;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #66ffcc;
  }

  #column-1 {
    background-color: #0099cc;
  }

  #column-2 {
    background-color:#0033cc;
  }

  #column-3 {
    background-color:#3333ff ;
  }

  footer {
    background-color:#9966ff ;
  }
   
}
